body {
    margin: 0px;
    padding: 0px;
}
header {
    width: 100vw;
    height: 7vh;
    background-color: black;
}
h1 {
    margin: 0px;
    padding: 0px;
    color: gold;
    text-align: center;

}

main{
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}
.login{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.menu{
    width: 29%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    overflow-y: auto;
}

.details {
    width: 69%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

h2{
    text-align: center;
    color: gold;
}

.listItem{
    color: whitesmoke;
    margin-bottom: 7px;
    border-radius: 7px;
    padding: 7px;
    width: 80%;
}

h3 {
    color: teal;
    margin-left: 20px;
}

#drinkInfo2 {
    margin-top: 40px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    
}

img{
    max-width: 49%;
    max-height: 100%;
    align-self: center;
}
.ingredients{
    width: 49%;
    height: 90%;
    color: whitesmoke;
}

.drinkInfo{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.label {
    color: teal;
    font-size: 17px;
    margin-right: 5px;
    font-weight: bold;
}

.value {
    color: whitesmoke;
    font-size: 17px;
}

p {
    color: whitesmoke;
    font-style: italic;
    font-size: 17px;
    text-align: center;
}
#search{
    margin-left: 20px;
    border-radius: 7px;
    padding: 6px 30px;
}